In [ ]:
import pandas as pd

df = pd.read_csv('data/pokemon_data/pokemon_data.csv')
# df_xlsx = pd.read_excel("data/pokemon_data.xlsx")
# print(df_xlsx.tail(10))
df_txt = pd.read_csv('data/pokemon_data/pokemon_data.txt', delimiter='\t')
print(df_txt.head(10))

print(df.tail(10))

In [ ]:
df.columns

In [33]:

print(df['Name'])

0                  Bulbasaur
1                    Ivysaur
2                   Venusaur
3      VenusaurMega Venusaur
4                 Charmander
               ...
795                  Diancie
796      DiancieMega Diancie
797      HoopaHoopa Confined
798       HoopaHoopa Unbound
799                Volcanion
Name: Name, Length: 800, dtype: object

In [ ]:

print(df.Name)

In [ ]:
print(df.iloc[1:4]) # stands for "index location". Contrary to default "label location"

In [ ]:
print(df.loc[1:4])
print(df.loc[1:4, 'Name'])

In [ ]:
df.iloc[2, 1]

In [ ]:
for index, row in df.iterrows():
    print(index, row)

In [36]:
print(df.loc[df['Name']=='Bulbasaur'])

   #       Name Type 1  Type 2  HP  Attack  Defense  Sp. Atk  Sp. Def  Speed  \
0  1  Bulbasaur  Grass  Poison  45      49       49       65       65     45

   Generation  Legendary
0           1      False

In [37]:
print(df.describe())

                #          HP      Attack     Defense     Sp. Atk     Sp. Def  \
count  800.000000  800.000000  800.000000  800.000000  800.000000  800.000000
mean   362.813750   69.258750   79.001250   73.842500   72.820000   71.902500
std    208.343798   25.534669   32.457366   31.183501   32.722294   27.828916
min      1.000000    1.000000    5.000000    5.000000   10.000000   20.000000
25%    184.750000   50.000000   55.000000   50.000000   49.750000   50.000000
50%    364.500000   65.000000   75.000000   70.000000   65.000000   70.000000
75%    539.250000   80.000000  100.000000   90.000000   95.000000   90.000000
max    721.000000  255.000000  190.000000  230.000000  194.000000  230.000000

            Speed  Generation
count  800.000000   800.00000
mean    68.277500     3.32375
std     29.060474     1.66129
min      5.000000     1.00000
25%     45.000000     2.00000
50%     65.000000     3.00000
75%     90.000000     5.00000
max    180.000000     6.00000

In [43]:
df.sort_values('Name', ascending = False)
df.sort_values(['Name', 'HP'], ascending = False)
df.sort_values(['Name', 'HP'], ascending = [1,0]) # Aseconding Name, descending HP

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
510,460,Abomasnow,Grass,Ice,90,92,75,92,85,60,4,False
511,460,AbomasnowMega Abomasnow,Grass,Ice,90,132,105,132,105,30,4,False
68,63,Abra,Psychic,NaN,25,20,15,105,55,90,1,False
392,359,Absol,Dark,NaN,65,130,60,75,60,75,3,False
393,359,AbsolMega Absol,Dark,NaN,65,150,60,115,60,115,3,False
...,...,...,...,...,...,...,...,...,...,...,...,...
632,571,Zoroark,Dark,NaN,60,105,60,120,60,105,5,False
631,570,Zorua,Dark,NaN,40,65,40,80,40,65,5,False
46,41,Zubat,Poison,Flying,40,45,35,30,40,55,1,False
695,634,Zweilous,Dark,Dragon,72,85,70,65,70,58,5,False
794,718,Zygarde50% Forme,Dragon,Ground,108,100,121,81,95,95,6,True

In [49]:
df['Total'] = df['HP'] + df['Attack']
print(df)

       #                   Name   Type 1  Type 2  HP  Attack  Defense  \
0      1              Bulbasaur    Grass  Poison  45      49       49
1      2                Ivysaur    Grass  Poison  60      62       63
2      3               Venusaur    Grass  Poison  80      82       83
3      3  VenusaurMega Venusaur    Grass  Poison  80     100      123
4      4             Charmander     Fire     NaN  39      52       43
..   ...                    ...      ...     ...  ..     ...      ...
795  719                Diancie     Rock   Fairy  50     100      150
796  719    DiancieMega Diancie     Rock   Fairy  50     160      110
797  720    HoopaHoopa Confined  Psychic   Ghost  80     110       60
798  720     HoopaHoopa Unbound  Psychic    Dark  80     160       60
799  721              Volcanion     Fire   Water  80     110      120

     Sp. Atk  Sp. Def  Speed  Generation  Legendary  Total
0         65       65     45           1      False     94
1         80       80     60           1      False    122
2        100      100     80           1      False    162
3        122      120     80           1      False    180
4         60       50     65           1      False     91
..       ...      ...    ...         ...        ...    ...
795      100      150     50           6       True    150
796      160      110    110           6       True    210
797      150      130     70           6       True    190
798      170      130     80           6       True    240
799      130       90     70           6       True    190

[800 rows x 13 columns]

In [56]:
df['Total2'] = df.iloc[:, 4:10].sum(axis=1)
print(df)

col = list(df.columns)
df =df[col[0:4] + [col[-1]]+col[4:12]]

df.head(5)

       #                   Name   Type 1  Type 2  HP  Attack  Defense  \
0      1              Bulbasaur    Grass  Poison  45      49       49
1      2                Ivysaur    Grass  Poison  60      62       63
2      3               Venusaur    Grass  Poison  80      82       83
3      3  VenusaurMega Venusaur    Grass  Poison  80     100      123
4      4             Charmander     Fire     NaN  39      52       43
..   ...                    ...      ...     ...  ..     ...      ...
795  719                Diancie     Rock   Fairy  50     100      150
796  719    DiancieMega Diancie     Rock   Fairy  50     160      110
797  720    HoopaHoopa Confined  Psychic   Ghost  80     110       60
798  720     HoopaHoopa Unbound  Psychic    Dark  80     160       60
799  721              Volcanion     Fire   Water  80     110      120

     Sp. Atk  Sp. Def  Speed  Generation  Legendary  Total  Total2
0         65       65     45           1      False     94     318
1         80       80     60           1      False    122     405
2        100      100     80           1      False    162     525
3        122      120     80           1      False    180     625
4         60       50     65           1      False     91     309
..       ...      ...    ...         ...        ...    ...     ...
795      100      150     50           6       True    150     600
796      160      110    110           6       True    210     700
797      150      130     70           6       True    190     600
798      170      130     80           6       True    240     680
799      130       90     70           6       True    190     600

[800 rows x 14 columns]

,#,Name,Type 1,Type 2,Total2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [59]:
df.to_csv('data/pokemon_data/modified.csv')
df.to_csv('data/pokemon_data/modified2.csv', index = False)
df.to_csv('data/pokemon_data/modified3.txt', index = False, sep='\t')